body {
    background-color: black;
}

#sidebar {
    width: 100%;
    height: 100%;
}

#sidebar ul {
    list-style: none;
    padding-left: 0px;
}

.team {

}

.teammates {

}





#table {
    padding: 0px;
}
